@import "~ng-pick-datetime/assets/style/picker.min.css";


body {
  margin: 0;
  font-family: "Baloo Thambi 2", monospace;
}

html, body {
  height: 100%;
}

.phoneSizeContainer {
  height: calc(100vh - 56px);
}

.notPhoneSizeContainer {
  height: calc(100vh - 64px);
}


app-kol-header {
  .mat-icon-button {
    font-size: x-large;
  }

  .toolbar-spacer {
    flex: 1 1 auto;
  }

  .content-container {
    width: 233px;
  }

  .login-container {

    margin-top: 50px;
    position: absolute;
    left: calc(50% - 133px);
  }

  .mat-drawer-content {
    height: initial;
  }

  .sidenav-menu-container {
    padding-top: 20px;
    padding-right: 10px;
  }

  .main-content-wrapper {
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
  }

  .table-left {
    text-align: right;
    padding-right: 10px;
  }

  app-menu-tree {
    .menu-item {
      cursor: pointer;
      box-sizing: border-box;
      border-radius: 0 4px 4px 0;
    }

    .selected-menu-item {
      border-width: 1px;
      border-left-width: 0;
      border-style: solid;
      -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
      -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
      box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
    }
  }
}

.room-edit-button {
  cursor: pointer;
}

.own-list-row {
  display: flex;
  padding: 10px 20px 10px 20px;
  height: 40px;
  vertical-align: center;
  .own-list-row-icon {
    width: 40px;
    font-size: 24px;
    margin: auto 0;
  }
  .own-list-row-name {
    font-size: 12px;
    overflow: hidden;
  }
  .own-list-row-neptun {
    font-size: 16px;
  }
}


app-users, app-room-assign {
  .table-container {
    margin: 20px;
    overflow: auto;
    max-height: calc(100% - 40px);
  }
  table {
    width: 100%;
  }

  tr.example-detail-row {
     height: 0;
  }

  .table-row td {
    border-bottom-width: 0;
  }

  .table-details {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-left: 39px;
    .user-action-button-wrapper {
      margin: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      .user-action-button {
        margin-bottom: 10px;
        margin-left: 20px;
      }
    }
  }
  .mat-paginator-sticky {
    bottom: 0;
    position: sticky;
    z-index: 10;
  }
}

app-translate {
  .example-full-width {
    width: 100%;
  }
  .mat-card-container {
    margin-bottom: 20px;
  }
}

app-maintenance, app-error-report {
  .mat-card-container {
    margin-bottom: 20px;
  }
}

app-rooms, app-permissions {
  .table-container {
    margin: 20px;
    overflow: auto;
    max-height: calc(100% - 40px);
  }
  table {
    width: 100%;
  }
  .mat-paginator-sticky {
    bottom: 0;
    position: sticky;
    z-index: 10;
  }
}

app-guests {
  .table-container {
    margin: 20px;
    overflow: auto;
    max-height: calc(100% - 40px);
  }
  tr.example-detail-row {
    height: 0;
  }
  .table-details {
    overflow: hidden;
  }
  table {
    width: 100%;
  }
  .mat-paginator-sticky {
    bottom: 0;
    position: sticky;
    z-index: 10;
  }
  .table-mytable {
    min-width: fit-content;
  }
}

app-events-add {
  .mat-card-container {
    width: 50%;
    min-width: 300px;
    max-width: 500px;
  }
  .example-full-width {
    width: 100%;
  }
}

app-event-history, app-keys-table {
  table {
    width: 100%;
  }
  tr.example-detail-row {
    height: 0;
  }
  .table-details {
    overflow: hidden;
  }
}

.own-hover-bg:hover {
  background-color: rgba(175, 175, 179, 0.09);
}


app-register-page {
  .register-card {
    margin: 5px 0;
  }
}

.rotate {
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
