<div class="kol-login-box">
  <p-card>
    <p-header>
      Jelentkezz be! <br>
    </p-header>
    <div class="input-group">
        <span class="ui-float-label">
          <input id="username" type="text" size="30" pInputText [(ngModel)]="username">
          <label for="username">Felhasználónév</label>
        </span>
      <span class="ui-float-label">
          <input id="password" type="password" size="30" pInputText [(ngModel)]="password" (keyup.enter)="login()">
          <label for="password">Jelszó</label>
        </span>
    </div>
    <p-footer>
      <div class="p-grid">
        <div class="p-col"><button pButton type="button" label="Bejelentkezés" icon="fas fa-arrow-right" (click)="login()"></button></div>
        <div class="p-col" style="text-align: right"><p-progressSpinner *ngIf="isLoading"></p-progressSpinner></div>


      </div>
    </p-footer>
  </p-card>
</div>
