<mat-toolbar color="primary">
    <button mat-icon-button *ngIf="authService.isLoggedIn() === true" (click)="snav.toggle()"><i
            class="fas fa-bars"></i></button>
    <span class="toolbar-spacer"></span>
    <span>Kolintéző</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button disabled><i class="fas fa-sync" [ngClass]="{'rotate': rotating}"></i>
    </button>
    <app-theme-switch></app-theme-switch>
    <button mat-icon-button><i class="fas fa-globe" (click)="select.toggle();"></i></button>
    <mat-select style="width: fit-content;" #select [(value)]="lang" (selectionChange)="changeLang($event)">
        <mat-option *ngFor="let lang of languages" [value]="lang">{{lang}}</mat-option>
    </mat-select>

    <button mat-icon-button *ngIf="authService.isLoggedIn() === true" [mat-menu-trigger-for]="userMenu"><i
            class="fas fa-user"></i></button>
</mat-toolbar>


<mat-sidenav-container #snavContainer>
    <mat-sidenav #snav [mode]="innerWidth < 600 ? 'over' : 'side'"
                 [fixedInViewport]="true" [fixedTopGap]="innerWidth < 600 ? 56 : 64">
        <div class="sidenav-menu-container">
            <app-menu-tree #tree [model]="accessibleMenu" [leftPadding]="5" [rightPadding]="20"
                           [isPhone]="innerWidth < 600"
                           [sidenavcontainer]="snavContainer"></app-menu-tree>
        </div>
    </mat-sidenav>

    <mat-sidenav-content style="overflow: hidden">
        <div [@routerAnimations]="prepareRoute(outlet)"
             [ngClass]="innerWidth < 600 ? 'phoneSizeContainer' : 'notPhoneSizeContainer'"
             style="overflow: hidden; display: block">
            <router-outlet #outlet="outlet"></router-outlet>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>

<mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="logout();">{{'MENU.LOGOUT' | translate}}</button>
</mat-menu>


