<div class="table-mytable">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>

        <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
            <ng-container *ngIf="column !== 'action' && column !== 'period'">
                <th mat-header-cell *matHeaderCellDef id="{{column}}"> {{getTrId(column) | translate}}  </th>
                <td mat-cell *matCellDef="let element"> {{column === 'key_id' ? (getKeyName(element[column]) | translate) : element[column]}} </td>
            </ng-container>
            <ng-container *ngIf="column === 'action'">
                <th mat-header-cell *matHeaderCellDef id="action">
                    {{'KEYS.ACTION.TITLE' | translate}}
                </th>
                <td mat-cell *matCellDef="let element">
                    <button *ngIf="(element.start_time !== null && element.end_time === null)"
                            mat-raised-button color="primary" (click)="$event.stopPropagation(); keyReceived(element.id)"> {{'KEYS.ACTION.RECEIVED' | translate}}
                    </button>
                    <button *ngIf="!(element.start_time !== null && element.end_time === null)" mat-raised-button (click)="$event.stopPropagation(); takeKey(element.key_id)"
                            color="accent"> {{'KEYS.ACTION.TAKE' | translate}}
                        <i style="margin-left: 10px" class="fas fa-arrow-circle-right"></i>
                    </button>
                </td>
            </ng-container>
            <ng-container *ngIf="column === 'period'">
                <th mat-header-cell *matHeaderCellDef id="period">
                    {{'KEYS.COLUMN.PERIOD' | translate}}
                </th>
                <td mat-cell *matCellDef="let element">
                    {{getTimeNiceFormat(element.start_time, element.end_time)}}
                </td>
            </ng-container>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div class="table-details"
                     [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div style="display: flex; flex-direction: column; flex-grow: 1; overflow: hidden; text-overflow: ellipsis">

                        <div style="display: flex; padding: 10px; border-bottom: 1px solid rgba(151,151,151,0.25);" class="own-hover-bg"
                             *ngFor="let key of getKeys(element)">
                            <span style="width: 50%"> {{getTrId(key) | translate}}:</span>
                            <span style="width: 50%"> {{key === 'key_id' ? (getKeyName(element[key]) | translate) : element[key]}}</span>
                        </div>
                    </div>
                </div>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            class="table-row"
            [class.example-expanded-row]="expandedElement === row"
            (click)="expandedElement = expandedElement === row ? null : row"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
</div>


